.card_body {
    width: 31% !important;
    padding: 15px;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

.card_body:hover {
    box-shadow: 0px 0px 10px 2px #86b7fe;
}

.card_like_container {
    width: 45px;
    height: fit-content;
}

.card-title {
    text-decoration: none;
}

.card-title:hover {
    color: #86b7fe;
}

.card_bottom {
    display: flex;
    justify-content: space-between;
}

.row {
    justify-content: space-evenly;
}