.navbar {
    margin: 0 45px;
}

.container {
    padding: 25px;
}

.finderTwo__form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px;
    flex-direction: row;
}
