*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #ffff;
  font-family: 'Inter', sans-serif;
}

container{
    width: 1600px;
    margin: 25px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  margin: 58px 95px 72px 204px;
}

.navbar__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav_link{
  margin: 0 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  border: none;
  text-decoration: none;
}

.btn{ 
  max-width: 132px;
  max-height: 44px;
  font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 500; 
  font-size: 15px; 
  line-height: 48px; 
  display: flex; 
  align-items: center; 
  color: #FFFFFF; 
  background: #FB8F1D; 
  border-radius: 8px; 
  padding: 0 36px;
  -webkit-border-radius: 8px; 
  -moz-border-radius: 8px; 
  -ms-border-radius: 8px; 
  -o-border-radius: 8px;
}

.nav_link:hover{
  font-weight: 500;
  color: #202336;
}

.btn:hover{
background: #fff;
color: #FB8F1D;
border-radius: 8px; 
border: 1px solid #FB8F1D;
}

.intro{
  display: flex;
  justify-content: space-evenly;
  height: 687px;
}

.intro__inner{
  flex-direction: column;
}

 h1{
    margin: 114px 263px 74px 189px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
 }

 .finder{
    margin-left: 190px;
    display: flex;
    width: 471px;
    height: 344px;
    left: 190px;
    top: 434px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
 }
 .finder__switchers{
    flex-wrap: wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #4A4C53;
 }
 select{
    margin:15px;
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    box-sizing: border-box;
    border-radius: 6px;
 }

 .finder_btn{
   max-width: max-content;
   font-family: 'Inter'; 
  font-style: normal; 
  font-weight: 500; 
  font-size: 15px; 
  line-height: 48px; 
 }
 .section{
     display: flex;
     /* justify-self: center; */
     margin: 48px;
     font-style: 16px;
     font-weight: bold;
    max-width: 215px;
    max-height: 380px;
 }

 .content{
     margin: 50px;
     display: flex;
     justify-content: space-between;
     align-items: baseline;
 }
.card{
    max-width: 345px;
    position: relative;
   
}
 .card__img{
    max-width:295px;
 }
 .card__head{
    position: absolute;
    bottom: 180px;
    background: none;
    color: #fff;
    font-style: italic;
    padding-left: 22px;
 }
.css-iljtu2-MuiRating-root{
    color:#4285f4;
}