* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1600px;
  margin: 35px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 58px 95px 72px 204px;
}

.navbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.nav_link {
  margin: 0 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B8BECD;
  border: none;
  text-decoration: none;
}

.btn {
  max-width: 132px;
  max-height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background: #FB8F1D;
  border: none;
  border-radius: 8px;
  padding: 0 36px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.nav_link:hover {
  font-weight: 500;
  color: #202336;
}

.btn:hover {
  background: #fff;
  color: #FB8F1D;
  border-radius: 8px;
  border: 1px solid #FB8F1D;
}

.intro {
  display: flex;
  justify-content: space-evenly;
  height: 687px;
  margin-bottom: 32px ;
}

.intro__inner {
  flex-direction: column;
}

h1 {
  margin: 114px 263px 74px 189px;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #202336;
}

.finder {
  margin-left: 190px;
  display: flex;
  max-width: 550px;
  max-height: 344px;
  left: 190px;
  top: 434px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 18px;
  margin-bottom: 38px;
}

.finder__switchers {
  max-width: 500px;
  flex-wrap: wrap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #4A4C53;
}

select {
  margin: 15px;
  width: 220px;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  box-sizing: border-box;
  border-radius: 6px;
}

.finder_btn {
  max-width: max-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 48px;
}

.section {
  display: flex;
  /* justify-self: center; */
  margin: 48px;
  font-style: 16px;
  font-weight: bold;
  max-width: 215px;
  max-height: 380px;
}

.content {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card {
    max-width: 345px;
    max-height: 480px;
    // position: relative;
    margin: 35px;
    cursor: pointer;
}
.card__img_container{
   max-height: inherit;
    max-width: 345px;
    overflow: hidden;
    position: relative;
 }
  .card__price {
    color: #fff;
    background: #4285f4;
    position: absolute;
    top: 25px;
    padding: 12px;
    font-size: large;
  }

.card__mask{
  background:linear-gradient(180deg, #00BCD40A 0%, #00BCD41F 66%, #3C587F 100%);
  width: 345px;
  height: 100%;
  position: absolute;
  top: 0;
}
.card__img {
  max-width: 345px;
  max-height: fit-content;
}

.card__head {
  position: absolute;
  background: none;
  color: #49D8E9;
  font-style: italic;
  font-weight: 100;
  bottom: 1%;
  left: 5%;
}
.card__bottom{
  display: flex;
  justify-content: space-between;
}
.card__dura{
    color: #AFB0B9;
}



.slider{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 90%;
  overflow-x: hidden;
  margin-top: 48px;
}
.slider_container{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

}
.slider_btn_container{
  display: flex;
  justify-content: center;
}
.slider_btn{
  margin: 30px;
  border: 1px solid #000;
  color: #4285f4;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.footer{
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3C587F;
  
}