.finder {
    display: flex;
    max-width: 550px;
    text-align: center;
    left: 190px;
    top: 434px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    padding-bottom: 18px;
    margin-bottom: 38px;

    h3 {
        margin-bottom: 12px;
    }
}

.finder__form {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 18px;
    transition: all .5s ease;

}

.finder__form:hover {
    box-shadow: 2px -2px 5px 3px #86b7fe;
    background-color: #00bfff73;
}

.finder__form_box {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
}

.finder__form_box_inner {
    display: flex;
    flex-direction: column;

    label {
        // margin: 10px;
        // width: 229px;
        display: flex;
        font-size: 1rem;
        align-content: center;
        align-items: center;
        justify-content: space-between;
    }
}

.finder__input_box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.find_input {
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.find_input:hover {
    box-sizing: 0 0 3px #000;
}



.find_select:active {
    outline: none;
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.find_select:hover {
    box-shadow: 0 0 3px #000;
}

.form-control {
    border: 1px solid #000;
}

.form_custom-style {
    margin: 10px;
    width: 100%;
    height: 50px;
    font-size: 1.25rem;
    border: 1px solid #000;
    border-radius: 7px;
    transition: all .3s ease;
}

.find_select {
    font-size: 1.25rem;
    border: 1px solid #000;
    width: 100%;
}

.find_select_filter {
    font-size: 1.25rem;
    border: 1px solid #000;
    width: 31%;
}

.label {
    display: flex;
    justify-content: flex-start;
    width: 115px;
}

.find_input {
    width: 100px;
    height: 45px;
    font-size: 1.25rem;
    border: 1px solid #000;
    margin: 10px;
    padding: 10px;
}

.finder-filter {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    width: fit-content;
}

.finderTwo__form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 18px;
    flex-flow: row wrap;
    flex-direction: row-reverse;
}


.find_bottom {
    background-color: pink;
    display: flex;
}