.travel__head_box {
    display: flex;
    justify-content: space-between;
}

.travel__img {
    max-width: 800px;
    max-height: 600px;
}

.travel__head {
    font-size: 32px;
}

.travel__head_lower {
    font-style: 27px;
}