* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.App-header {
  max-width: 100%;
}

.finder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 550px;
  max-height: 445px;
  text-align: center;
  left: 190px;
  top: 434px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  padding-bottom: 18px;
  margin-bottom: 38px;
}

.finder h3 {
  margin-bottom: 12px;
}

.finder__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.finder__form_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.finder__form_box_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finder__form_box_inner label {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.finder__input_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.find_input:hover {
  -webkit-box-sizing: 0 0 3px #000;
          box-sizing: 0 0 3px #000;
}

.find_select {
  width: 220px;
  height: 45px;
  margin: 5px;
  font-size: 1.25rem;
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 115px;
}

.find_input {
  width: 100px;
  height: 45px;
  font-size: 1.25rem;
  border: 1px solid #000;
  margin: 10px;
}

.form_custom-style {
  margin: 10px;
  width: 50%;
  height: 45px;
  font-size: 1.25rem;
  border: 1px solid #000;
}

.form_custom-style:hover {
  -webkit-box-sizing: 0 0 3px #000;
          box-sizing: 0 0 3px #000;
}

.travel__head_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.travel__head_box-text {
  margin: 25px;
  padding: 15px;
  color: #000;
}

.travel__head-text {
  font-size: 18px;
  line-height: 28px;
  padding: 15px;
}

.travel__img {
  max-width: 800px;
  max-height: 600px;
}

.travel__head {
  font-size: 32px;
}

.travel__head_lower {
  font-style: 27px;
}

.card__head {
  color: #fff;
}

.container {
  max-width: 100%;
  margin: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3% 3% 5% 3%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.navbar__inner__burger {
  visibility: hidden;
}

.logo_nav {
  max-width: 120px;
  max-height: 40px;
}

.nav_link {
  margin: 0 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 19px;
  color: #4285f4;
  border: none;
  text-decoration: none;
}

.btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: auto;
  margin: 12px 12px 12px 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background: #4285f4;
  border: #4285f4;
  padding: 12px 36px;
}

.nav_link:hover {
  font-weight: 500;
  color: #000;
}

.btn:hover {
  background: #fff;
  color: #4285f4;
  border: 1px solid #4285f4;
  -webkit-box-shadow: #3C587F;
          box-shadow: #3C587F;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
  max-width: 100%;
}

.intro_img_box {
  max-width: 100%;
}

.intro_img {
  max-width: 550px;
}

.intro__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 10px 20px 35px;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
}

h1 {
  margin: 0 0 70px 0;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  color: #202336;
}

select {
  margin: 15px;
  width: 220px;
  height: 52px;
  border: 0.8px solid #AFB0B9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 48px;
  font-style: 16px;
  font-weight: bold;
  max-width: 215px;
  max-height: 380px;
}

.content {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.card {
  max-width: 100%;
  max-height: 480px;
  margin-bottom: 22px;
  cursor: pointer;
}

.card__img_container {
  max-height: 445px;
  max-width: 100%;
  position: relative;
}

.card__like {
  color: #f50404;
  font-weight: 600;
  position: absolute;
  font-size: large;
  top: 16px;
  padding: 6px;
  font-size: large;
}

.card__mask {
  background: -webkit-gradient(linear, left top, left bottom, from(#00BCD40A), color-stop(66%, #00BCD41F), to(#3C587F));
  background: linear-gradient(180deg, #00BCD40A 0%, #00BCD41F 66%, #3C587F 100%);
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.card__head {
  position: absolute;
  background: none;
  color: #49D8E9;
  font-style: italic;
  font-weight: 100;
  bottom: 1%;
  left: 5%;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__dura {
  color: #AFB0B9;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 60%;
  margin-top: 48px;
}

.slider_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider_btn {
  margin: 30px;
  border: 1px solid #000;
  color: #4285f4;
  cursor: pointer;
  padding: 10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__cards_text {
  margin-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 23px;
}

.videos_block {
  margin: 90px;
}

.text_blue {
  color: #4285f4;
  line-height: 2rem;
  margin-bottom: 35px;
  font-size: large;
}

.underline_block {
  display: block;
  width: 95px;
  border-bottom: 8px solid #4285f4;
  margin-top: 25px;
  margin-bottom: 25px;
}

.home__header {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2rem;
}

.text_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 55px;
}

.videos__header_text {
  text-align: center;
}

.videos_content_main {
  border: .3px solid #202336;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.videos_content_choice {
  border: .3px solid #202336;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-wrapper_full {
  max-width: 100%;
}

.travel_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.travel__overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px;
  margin: 25px;
  -webkit-box-shadow: 0 0 10px #202336;
          box-shadow: 0 0 10px #202336;
}

.travel__revievs {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 38px;
}

.footer {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3C587F;
}

@media (max-width: 1200px) {
  .home__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
  .home__header {
    text-align: center;
  }
  .home__cards_text {
    margin-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .slider {
    max-width: 100%;
  }
}

@media (max-width: 970px) {
  .navbar__inner {
    visibility: hidden;
  }
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro_img {
    min-width: 90%;
  }
  .navbar__inner__burger {
    visibility: visible;
  }
  .navbar {
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */